@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/*font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Noto Sans*/

* {
  box-sizing: border-box;
  font-size: calc(10px + 2vmin);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: grid;
  grid-template-areas: "header header header"
                        "toolbar main main"
                        "toolbar main main";
  
  font-family: 'Roboto', sans-serif;
  background-color: #DAE0E7;
}

span {
  font-size: 14px;
}


/*-------------*/
/* Header Css */
/*-------------*/
header {
  grid-area: header;
  position: sticky;
  top: 0;
  background-color: #f2f8fc;
  box-shadow: 0 3px 0 #edf3fc;
  padding: 10px 20px;
  z-index: 10000;
}

.title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: calc(1rem + 0.325vw);
  margin: 0 0 0 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.minimal {
  color: blue;
  font-size: inherit;
}

.header-input {
  display: flex;
}

.searchBar {
  width: 70%;
  padding: 10px 15px 10px 50px;
  border-radius: 20px;
  margin-top: 5px;
  border: 1px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/49/49116.png);
  background-position: 2% center;
  background-size: 30px;
  background-repeat: no-repeat;
}

/*-------------*/
/* Main Container Css */
/*-------------*/
.main-container {
  grid-area: main;
  display: grid;
  grid-template-areas: "hot hot hot"
                        "post post bar";
  grid-template-columns: 50% 25% auto;
  gap: 25px;
  padding: 25px 0 0 25px;
}


/*-------------*/
/* ToolBar Css */
/*-------------*/
.toolbar {
  grid-area: toolbar;
  display: flex;
  flex-direction: column;
  background-color: #f2f8fc;
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 78px;
  color: #878a8c;
  padding: 15px 0 0 15px;
}

.category {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 20px;
  gap: 10px;
}

.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 10px 0 20px;
  border-radius: 10px;
  padding: 5px;
}

.icon:hover {
  background-color: #e9ecef;
}


/*-------------*/
/* Hot Posts Css */
/*-------------*/
.hot-posts {
  grid-area: hot;
  padding-right: 20px;
}

.hot-post {
  background-color: white;
  height: 165px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hot-post-image {
  width: fit-content;
  position: relative;
  height: 100%;
}

.hot-post-image > img {
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.hot-post-text {
  padding: 0 10px 10px 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.hot-post-title {
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

.hot-post-description {
  font-family: 'Noto Sans', Arial,sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 8px;
  overflow: hidden;
  word-break: break-word;
  line-height: 20px;
  max-height: 40px;
}


/*-------------*/
/* Posts Css */
/*-------------*/
.posts {
  grid-area: post;
  height: 100%;
  width: 80%;
  margin-left: 20px;
}

.post {
  background-color: #f2f8fc;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 40px 20px 80px;
  border-radius: 4px;
  margin-bottom: 20px;
  min-width: 500px;
  height: fit-content;
  position: relative;
}

.post-title {
  word-break: break-word;
  margin-bottom: 5px;
  font-size: 18px;
}

.post-img {
  max-width: 600px;
  max-height: 600px;
}

.post-img > img {
  width: 50%;
  height: 50%;
}

.post-description {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

.post-description-author {
  color: blue;
}

.post-vote-arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  margin: 18px 0 0 18px;
}

.post-vote-arrow-button {
  border-radius: 10px;
  padding: 5px;
}

.post-vote-arrow-button:hover {
  background-color: #e9ecef;
}

.post-vote-arrows-votes {
  font-size: 14px;
}


/*-------------*/
/* Lateral bar Css */ 
/*-------------*/
.lateral-bar {
  grid-area: bar;
  width: fit-content;
}

.lateral-bar-info {
  background-color: #f2f8fc;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.lateral-bar-button  {
  color: #878a8c;
  text-decoration: none;
}

.lateral-bar-button > .icon {
  width: calc(100% * 1vh);
}


/*-------------*/
/* Responsive Css*/
/*-------------*/
@media (max-width: 895px) { 
  .main-container {
    grid-template-areas: "hot hot hot"
                        ". bar ."
                        "post post post";
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hot-posts {
    width: 100%;
  }

  .lateral-bar {
    margin: auto;
  }
}

@media (max-width: 768px) {
  .App {
    grid-template-areas: "header header header"
                          "main main main"
                          "main main main";

  }

  .logo {
    justify-content: center;
  }

  .header-input {
    justify-content: center;
  }

  .toolbar {
    display: none;
  }


  .main-container {
    grid-template-areas: "hot hot hot"
                          ". bar ."
                          "post post post";
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px 10px 25px 10px;
  }

  .hot-posts {
    padding-right: 0;
  }

  .hot-post {
    margin: 10px 0 10px 0;
  }

  .posts {
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
  }

  .lateral-bar {
    margin: auto;
  }
}

@media (max-width: 595px) {

  .hot-post {
    width: fit-content;
    margin: 10px auto 10px auto;
  }
}