@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Roboto:wght@300;400&display=swap');

/*font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/

* {
  box-sizing: border-box;
  font-size: calc(10px + 2vmin);
}

.App {
  display: grid;
  grid-template-areas: "header header header"
                        "toolbar main main"
                        "toolbar main main";
  
  font-family: 'Roboto', sans-serif;
}

/* Header Css */
header {
  grid-area: header;
  background-color: blue;
  box-shadow: 0 3px 0 #edf3fc;
}

header > .navBar {
  display: inline-flex;
  max-width: 1280px;
  padding: 0 20;
  flex-grow: 1;
}

header > .title {
  font-size: calc(12px + 3vmin);
  font-family: 'IBM Plex Sans', sans-serif;
}

.main-container {
  grid-area: main;
  display: grid;
  grid-template-areas: "hot hot hot"
                        "post post bar";
  gap: 25px;
  margin: 25px 0 0 25px;
}

/* ToolBar Css */
.toolbar {
  grid-area: toolbar;
  background-color: greenyellow;
  height: 300px;
  width: 100%;
}

/* Hot Posts Css */
.hot-posts {
  grid-area: hot;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2%;
  gap: 20px;
  background-color: yellow;
  height: 300px;
  width: 100%;
}

.hot-posts > .hot-post {
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 20px;
}

/* Posts Css */
.post {
  grid-area: post;
  background-color: red;
  height: 300px;
  width: 100%;
}

/* Lateral bar Css */ 
.bar {
  grid-area: bar;
  background-color: orange;
  height: 300px;
  width: 100%;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
